extends layout

block content
  .social-button(title='expand social media options')
    i#social-icon.fas.fa-share-alt
    a.social-point(hidden='' href='https://api.whatsapp.com/send?phone=&text=Metete%20en%20esta%20p%C3%A1gina%20para%20ver%20las%20estad%C3%ADsticas%20del%20coronavirus%20http://www.coronavirus-data.net/' target='_blank' rel='nofollow' title='Whatsapp')
      i.fab.fa-whatsapp
    a.social-point(hidden='' href='https://twitter.com/intent/tweet?text=Aqu%C3%AD%20se%20pueden%20ver%20las%20estad%C3%ADsticas%20del%20coronavirus%20http://www.coronavirus-data.net/' target='_blank' rel='nofollow' title='Twitter')
      i.fab.fa-twitter
  .main-content.container-fluid
    .row.cabecera
      nav.navbar.navbar-light.bg-light.col-12
        a.navbar-brand(href="#") Estadísticas Coronavirus
        a.bmc-button(target='_blank' href='https://www.buymeacoffee.com/MarioMMJ')
          img(src='https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg' alt='Donaciones')
          span.d-sm-block.d-none Donaciones
    .mt-4.row.datos-totales.justify-content-center
      .col-lg-2.col-12.col-sm-5.infectados.card
        .card-body
          .card-title
            h5.card-title.text-center Infectados
          .card-body.text-center
            p
              span.count(data-count=totales.TotalCases) 0
      .col-lg-2.col-12.col-sm-5.muertos.card
        .card-body
          .card-title
            h5.card-title.text-center Muertos
          .card-body.text-center
            p
              span.count(data-count=totales.TotalDeaths) 0
      .col-lg-2.col-12.col-sm-5.curados.card
        .card-body
          .card-title.text-center
            h5.card-title Curados
          .card-body.text-center
            p
              span.count(data-count=totales.TotalRecovered) 0
      .col-lg-2.col-12.col-sm-5.paises.card
        .card-body
          .card-title.text-center
            h5.card-title Paises
          .card-body.text-center
            p
              span.count(data-count=paises) 0
    .row.contenido.justify-content-center.mt-3
      .col-12.col-lg-4.noticias.mb-3
        h2.mb-0.ultimas-noticias Últimas Noticias
        small.text-muted Las noticias son actualizadas cada 10 minutos
        -var cont = 0
        each noticia in noticias
          if cont < 7
            .row.noticia.mt-3
              .col-12.card
                h3.titulo-noticia #{noticia.titulo}
                p.text-muted #{noticia.cuerpo}
                small #{noticia.pubDate} | #{noticia.periodico}
                a.mt-3.leermas(href=noticia.link target="_blank") Leer más
                -cont++
      .col-12.col-lg-6
        .row.tablasDatos
          .col-12.estadisticas
            h2.mb-0 Casos recientes
            small.text-muted Casos que se han detectado el día de hoy
            h5.ultimoscasos.card-title.my-2.text-left Últimas 24H
              span.ml-3.casos-recientes.text-muted.text-right #{totales.NewCases} infectados
          .col-12.paisesafectados
            h2.mb-0 Paises Afectados
            small.text-muted Estadísticas por paises, la información es recopilada de diferentes sitios y contrastada. Actualizado cada 10 minutos.
            .textoBotonesTabla.d-block.d-sm-none.mt-2(data-toggle="popover" data-placement="bottom" data-content="Es posible que si activas más de 2 a la vez se corte la tabla, pero se puede seguir leyendo los datos si deslizas hacia el lateral")
              p Elige que datos mostrar
            ul.nav.nav-pills.nav-fill.row.d-flex.d-sm-none.botones-paises.mt-2.mb-2
              li.nav-item.col-6.mb-2
                a.nav-link.active(data-toggle=".casos-totales") Casos Tot.
              li.nav-item.col-6.mb-2
                a.nav-link.active(data-toggle=".muertes-totales") Muertes
              li.nav-item.col-6.mb-2
                a.nav-link(data-toggle=".casos-activos") Casos Act.
              li.nav-item.col-6.mb-2
                a.nav-link(data-toggle=".recuperados-totales") Curados
              li.nav-item.col-6.mb-2
                a.nav-link(data-toggle=".tasa-mortalidad") Tasa Mortalidad
            table#tablePaises.table.table-hover.table-striped
              thead
                tr
                  th Pais
                  th.casos-totales Casos Totales
                  th.muertes-totales Muertes Totales
                  th.casos-activos.d-none.d-sm-table-cell Casos Activos
                  th.recuperados-totales.d-none.d-sm-table-cell Curados Totales
                  th.tasa-mortalidad.d-none.d-sm-table-cell Tasa Mortalidad
              tbody
                each val in estadisticasPaises
                  -var tasamort = parseFloat(val["TotalDeaths"]/val["TotalCases"]*100).toFixed(2)
                  tr
                    th(scope='row') #{val["Country,Other"]}
                    td.casos-totales #{val["TotalCases"]}
                    td.muertes-totales #{val["TotalDeaths"]}
                    td.casos-activos.d-none.d-sm-table-cell #{val["ActiveCases"]}
                    td.recuperados-totales.d-none.d-sm-table-cell #{val["TotalRecovered"]}
  #Modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='ModalTitle', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#ModalTitle.modal-title Redes Sociales y Contacto
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body
          | Siguenos en nuestras redes sociales para estar siempre informado cuando salgan nuevas funcionalidades para la
          | página.<br>
          | También puedes utilizar nuestro correo electrónico para hacer preguntas o enviar alguna sugerencia!
          ul.mt-3.modal-rsss
            li.mt-2.modal-twitter
              a(href="https://www.twitter.com/coronavirus_dt") 
                i.mr-2.fab.fa-twitter
                | coronavirus_dt
            li.mt-2.modal-instagram
              a(href="https://www.instagram.com/mario_s4")
                i.mr-2.fab.fa-instagram  
                | mario_s4
            li.mt-2.modal-email
              a(href="mailto:datacoronavirus@gmail.com")
                i.mr-2.fas.fa-envelope
                | datacoronavirus@gmail.com

        .modal-footer
          button.btn.btn-primary(type='button') Vale!
          
