extends layout

block content
  .main-content.container-fluid
    .row.cabecera
      nav.navbar.navbar-light.bg-light.col-12
        a.navbar-brand(href="#") Estadísticas Coronavirus
        a.bmc-button(target='_blank' href='https://www.buymeacoffee.com/MarioMMJ')
          img(src='https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg' alt='Donaciones')
    .mt-4.row.datos-totales.justify-content-center
      .col-lg-2.col-12.col-sm-5.infectados.card
        .card-body
          .card-title
            h5.card-title.text-center Infectados
          .card-body.text-center
            p
              span.count(data-count=totales.TotalCases) 0
      .col-lg-2.col-12.col-sm-5.muertos.card
        .card-body
          .card-title
            h5.card-title.text-center Muertos
          .card-body.text-center
            p
              span.count(data-count=totales.TotalDeaths) 0
      .col-lg-2.col-12.col-sm-5.curados.card
        .card-body
          .card-title.text-center
            h5.card-title Curados
          .card-body.text-center
            p
              span.count(data-count=totales.TotalRecovered) 0
      .col-lg-2.col-12.col-sm-5.paises.card
        .card-body
          .card-title.text-center
            h5.card-title Paises
          .card-body.text-center
            p
              span.count(data-count=paises) 0
    .row.contenido.justify-content-center.mt-3
      .col-12.col-lg-4.noticias.mb-3
        h2.mb-0.ultimas-noticias Últimas Noticias
        small.text-muted Las noticias son actualizadas cada 10 minutos
        -var cont = 0
        each noticia in noticias
          if cont < 7
            .row.noticia.mt-3
              .col-12.card
                h3.titulo-noticia #{noticia.titulo}
                p.text-muted #{noticia.cuerpo}
                small #{noticia.fecha} | #{noticia.pagina}
                a.mt-3.leermas(href=noticia.url target="_blank") Leer más
      .col-12.col-lg-6
        .row.tablasDatos
          .col-12.estadisticas
            h2.mb-0 Casos recientes
            small.text-muted Casos que se han detectado el día de hoy
            h5.ultimoscasos.card-title.my-2.text-left Últimas 24H
              span.ml-3.casos-recientes.text-muted.text-right #{totales.NewCases} infectados
          .col-12.paisesafectados
            h2.mb-0 Paises Afectados
            small.text-muted Estadísticas por paises, la información es recopila de diferentes sitios y contrastada. Actualizado cada 10 minutos.
            table#tablePaises.table.table-hover.table-striped
              thead
                tr
                  th Pais
                  th Casos Totales
                  th Muertes Totales
                  th Casos Activos
                  th Recuperados Totales
              tbody
                each val in estadisticasPaises
                  tr
                    th(scope='row') #{val["Country,Other"]}
                    td #{val["TotalCases"]}
                    td #{val["TotalDeaths"]}
                    td #{val["ActiveCases"]}
                    td #{val["TotalRecovered"]}